<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr2.Runtime" version="2.7.7.02" targetFramework="net452" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
</packages>